---
- name: Install Apache packages
  ansible.builtin.package:
    name: "{{ apache_packages }}"
    state: present

- name: Ensure Apache service is running and enabled
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: yes

- name: Create WordPress web root directory
  ansible.builtin.file:
    path: "{{ wordpress_web_root }}"
    state: directory
    owner: "{{ wordpress_owner }}"
    group: "{{ wordpress_group }}"
    mode: '0755'

- name: Copy Apache virtual host configuration
  ansible.builtin.template:
    src: apache.conf.j2
    dest: "{{ apache_vhost_dir }}/wordpress.conf"
  notify: Restart Apache

- name: Disable default Apache site
  ansible.builtin.file:
    path: /etc/apache2/sites-enabled/000-default.conf
    state: absent
  when: ansible_os_family == "Debian"
  notify: Restart Apache

- name: Enable WordPress site
  ansible.builtin.file:
    src: "{{ apache_vhost_dir }}/wordpress.conf"
    dest: /etc/apache2/sites-enabled/wordpress.conf
    state: link
  when: ansible_os_family == "Debian"
  notify: Restart Apache