---
- name: Install Apache packages
  ansible.builtin.package:
    name: "{{ apache_packages }}"
    state: present

- name: Ensure Apache service is running and enabled
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: yes

- name: Create WordPress web root directory
  ansible.builtin.file:
    path: "{{ wordpress_web_root }}"
    state: directory
    owner: "{{ wordpress_owner }}"
    group: "{{ wordpress_group }}"
    mode: '0755'

- name: Copy Apache virtual host configuration
  ansible.builtin.template:
    src: apache.conf.j2
    dest: "{{ apache_vhost_dir }}/wordpress.conf" 
  notify: Restart Apache 

- name: Enable Apache virtual host site (Debian/Ubuntu specific)
  ansible.builtin.command: a2ensite wordpress.conf
  args:
    creates: "/etc/apache2/sites-enabled/wordpress.conf" # اگر فایل لینک شده وجود دارد، این تسک را اجرا نکن
  when: "'/etc/apache2/sites-available/wordpress.conf' in apache_vhost_dir" # فقط برای سیستم‌های مبتنی بر دبیان/اوبونتو
  notify: Restart Apache