---
- name: Download WordPress
  ansible.builtin.get_url:
    url: "{{ wordpress_download_url }}"
    dest: "{{ wordpress_local_path }}"
    mode: '0644'
    # state: present # default
  # check_mode: no # برای اطمینان از اجرای این تسک حتی در حالت check mode

- name: Extract WordPress
  ansible.builtin.unarchive:
    src: "{{ wordpress_local_path }}"
    dest: "{{ wordpress_web_root }}"
    remote_src: yes # برای دانلود و اکسترکت در یک مرحله
    creates: "{{ wordpress_web_root }}/wp-login.php" # اگر فایل لاگین وردپرس وجود دارد، یعنی قبلا اکسترکت شده است.

- name: Remove default WordPress index.html (if exists)
  ansible.builtin.file:
    path: "{{ wordpress_web_root }}/index.html"
    state: absent

- name: Generate WordPress secret keys if not present
  ansible.builtin.set_fact:
    wordpress_auth_key: "{{ lookup('password', secret_dir + '/auth_key length=64 chars=ascii_letters') }}"
    wordpress_secure_auth_key: "{{ lookup('password', secret_dir + '/secure_auth_key length=64 chars=ascii_letters') }}"
    wordpress_logged_in_key: "{{ lookup('password', secret_dir + '/logged_in_key length=64 chars=ascii_letters') }}"
    wordpress_nonce_key: "{{ lookup('password', secret_dir + '/nonce_key length=64 chars=ascii_letters') }}"
    wordpress_auth_salt: "{{ lookup('password', secret_dir + '/auth_salt length=64 chars=ascii_letters') }}"
    wordpress_secure_auth_salt: "{{ lookup('password', secret_dir + '/secure_auth_salt length=64 chars=ascii_letters') }}"
    wordpress_logged_in_salt: "{{ lookup('password', secret_dir + '/logged_in_salt length=64 chars=ascii_letters') }}"
    wordpress_nonce_salt: "{{ lookup('password', secret_dir + '/nonce_salt length=64 chars=ascii_letters') }}"
  vars:
    secret_dir: "{{ playbook_dir }}/.secrets"

- name: Create WordPress wp-config.php from template
  ansible.builtin.template:
    src: wp-config.php.j2
    dest: "{{ wordpress_config_file }}"
    owner: "{{ wordpress_owner }}"
    group: "{{ wordpress_group }}"
    mode: '0640' # دسترسی کمتر برای فایل حساس کانفیگ

- name: Ensure WordPress files ownership is correct
  ansible.builtin.file:
    path: "{{ wordpress_web_root }}"
    state: directory
    owner: "{{ wordpress_owner }}"
    group: "{{ wordpress_group }}"
    recurse: yes